
body {
  min-width: 600px;
/*  min-height: 700px;*/
  overflow-x: hidden;
  font-family: sans-serif;
}

ul.buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.buttons li, a.button {
  display: inline-block;
  background: -webkit-linear-gradient(top, #f7f7f7, #ededed);
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #444;
  margin:0;
  padding: 7px 10px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
ul.buttons li.l1 {
  border-radius: 3px 0 0 3px;
}
ul.buttons li.l2 {
  border-radius: 0;
  border-left: none;
}
ul.buttons li.l3 {
  border-left: none;
  border-radius: 0 3px 3px 0;
}
ul.buttons li:hover, a.button:hover {
  border: 1px solid #bebebe;
  box-shadow: 1px 1px 1px #e9e9e9;
}
ul.buttons li.l2:hover, ul.buttons li.l3:hover {
  margin-left: -1px;
}
ul.buttons li.on {
  color: #111;
  background: -webkit-linear-gradient(top, #efefef, #d7d7d7);
  border: 1px solid #b6b6b6;
  -webkit-box-shadow: inset 0 0 3px #c3c3c3;
  text-shadow: 0 1px 0 #f6f6f6;
}
ul.buttons li.l2.on, ul.buttons li.l3.on {
  margin-left: -1px;
}


#input {
  margin-top: 5px;
}
#input textarea {
  width: 100%;
  font-family: monospace;
}
#input input {
  width: 200px;
  font-family: monospace;
}
#input .title {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}

#output .element {
  margin-top: 5px;
  font-size: 12px;
}
#output .title {
  font-weight: bold;
  font-family: sans-serif;
}
#output .expand {
  position: relative;
  left: 10px;
  bottom: 0px;
/*  padding: 2px 18px 2px 10px;*/
  padding: 2px 10px 2px 10px;
  background-color: #f5f5f5;
/*  background-image: url("images/arrow_down.png");*/
/*  background-image: url("images/arrow_down.png"), -webkit-linear-gradient(top, #ffffff, #f5f5f5);*/
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: no-repeat;
/*  background-position: 88% center;*/
  background-position: left center;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #eeeeee;
  cursor: pointer;
  color: #777777;
  font-size: 11px;
  display: none;
  text-decoration: underline;
}
#output .expand:hover {
  color: cornflowerblue;
}
#output .note {
  position: relative;
  left: 20px;
  bottom: 3px;
  padding: 1px 8px;
  border-radius: 3px;
  background-color: cornsilk;
  color: #111111;
  font-weight: bold;
  font-size: 11px;
}
#output .value {
  padding: 5px;
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  font-family: monospace;
  border-radius: 3px;
  cursor: pointer;
}
/*#output .value input {
  padding: 6px;
  background-color: transparent;
  border: none;
  font-family: monospace;
  width: 100%;
  cursor: pointer;
}*/
#output .value textarea {
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
}
#output .ruler {
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  left: 5px;
  top: 5px;
}
#output .ruler span:hover {
  outline: 1px solid dodgerblue;
}

#info {
  float: right;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  padding: 8px 0px;
}
#info a {
  color: #999;
  text-decoration: none;
}
#info a:hover {
  color: #555;
}

.screens {
  display: none;
}

h1 {
  font-size: 22px;
  margin: 0;
  padding: 0;
}